<mat-toolbar class="d-flex justify-content-between">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span [routerLink]="'./'" class="home">Product Order App</span>
  <span class="example-spacer"></span>
  <div>
    <button [routerLink]="'orders'" matTooltip="your orders" matTooltipPosition="below" mat-icon-button class="example-icon"
      aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>
