/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.amount{
  color: rgb(245, 124, 0);
  font-weight: 600;
}
.btn-custom{
  background-color: #3db7ae !important;
  border-color: #3db7ae !important;
  color: #fff;
}
